<!--******************************** Start Forms **************  -->
<form>
  <div class="form-row" [style.margin-left.px]="15">
    <div class="form-group col-md-6">
      <label for="inputEmail4">id</label>
      <input  type="number" [disabled]="true" class="form-control" placeholder="" [(ngModel)]="idM"  [ngModelOptions]="{standalone: true}"><!--[(ngModel)]="ids"-->
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">createdAt</label>
      <input  type="text" required class="form-control" placeholder="createdAt" [(ngModel)]="createdAt" [ngModelOptions]="{standalone: true}"> 
    </div>
  
    <div class="form-group col-md-6">
      <label for="inputAddress">name</label>
      <input  type="text" class="form-control" placeholder="name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group col-md-6">
      <label for="inputAddress">country</label>
      <input  type="text" class="form-control" placeholder="country" [(ngModel)]="country" [ngModelOptions]="{standalone: true}"> 
    </div>
    <div class="form-group col-md-6">
      <label for="inputAddress">color</label>
      <input  type="text" class="form-control" placeholder="" [(ngModel)]="color" [ngModelOptions]="{standalone: true}">
    </div>
    <br/>
    <button type="submit" class="btn btn-primary" (click)="Finalputmethod($event)" >EDIT</button>
    <button type="submit" class="btn btn-primary" (click)="AddingNewRecord($event)" [style.margin-left.px]="15">Add NewRecord</button>
  </div><!-- (click)="AddingNewUser(id,createdAt,name,country,color)" -->
</form>
<br/>
<!-- (click) = "AddingNewRecord(createdAt.value,name.value,country.value,color.value,$event) -->
<!--******************************** End Forms **************  -->
<h1>{{title}}</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">createdAt</th>
      <th scope="col">name</th>
      <th scope="col">country</th>
      <th scope="col">color</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="isLoading">
      <td colspan="7">
        LODING...
      </td>
    </tr>
    <tr *ngFor="let bike of bikes">
      <th scope="row">{{bike.id}}</th>
      <td>{{bike.createdAt}}</td>
      <td>{{bike.name}}</td>
      <td>{{bike.country}}</td>
      <td>{{bike.color}}</td>
      <td>
        <input type="button" value="DELETE" (click)="deleteFunc(bike.id, $event)"/>
      </td>
      <td>
        <input type="button" value="EDIT" (click)="putmethod(bike.id,$event)"/>
      </td>
    </tr>
  </tbody>
</table>